* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#site-wrapper {
  min-height: 100vh;
  background-color: aquamarine;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem;
}

h1 {
  margin-top: 0;
}

h3 {
  display: inline-block;
  width: min(600px, 100%);
}

input {
  height: 3em;
  padding: 5px;
  font-size: 1rem;
}

.btn {
  border: none;
  margin-top: 1rem;
  background-color: maroon;
  color: #f4f4f4;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(209, 34, 34);
}

.message-container {
  text-align: center;
  padding: 1.2em;
  border: groove 10px maroon;
}

.user-message {
  position: fixed;
  font-size: 1.2rem;
  color: purple;
  top: 0;
  animation: rainFall 3s linear forwards;
}

#userOutput {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popOut {
  animation: pop 3s ease-in-out forwards;
}

@keyframes rainFall {
  from {
    transform: translateY(-2px);
  }
  to {
    transform: translateY(105vh);
  }
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(100);
  }
  100% {
    transform: scale(0);
  }
}
