* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#site-wrapper {
  min-height: 100vh;
  background-color: aquamarine;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heart {
  position: fixed;
  top: 0;
  animation: rainFall 3s linear forwards;
}

@keyframes rainFall {
  from {
    transform: translateY(-2px);
  }
  to {
    transform: translateY(105vh);
  }
}
